@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 1240px;
    margin: 0px auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


header{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.header_nav_ul{
    display: flex;
    margin-right: 30px;
    margin-top: 20px;
}

.header_nav_ul_li{
    margin-right: 60px;

}

.heade_a{
    font-family: 'SF Pro Display', sans-serif;
    margin-left: 20px;
    margin-right: 40px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
}

.header_nav_ul_li_a {
    font-family: 'SF Pro Display', sans-serif;
}

.header_div_a{
    margin-right: 90px;
    margin-left: 100px;
}

.header_div{
    margin-top: 20px;
}

.section1{
   
    margin-bottom: 100px;
}

.section1_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
}

.section1_div_h2{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: red;
    margin-bottom: 50px;
    
}

.section1_div_p{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 55px;
    line-height: 67.05px;
    margin-bottom: 100px;
}

.signup{
    padding: 20px 30px;
    font-size: 22px;
    color: white;
    background-color: red;
    margin-right: 60px;
}

.button_img{
    border: solid 1px wheat;
    padding: 16px 20px;
    border-radius: 50px;
}

.ptichka{
    display: flex;
    align-items: center;
    border: none;
}

.section1_rightside{
    display: flex;
    align-items: center;
}

.section2{
    display: flex;
    margin-bottom: 200px;
}

.section2_rightside_h2{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 60px;
    line-height: 73.14px;
    margin-bottom: 30px;
}

.section2_rightside_p{
    font-family: Montserrat; 
    font-weight: 700;
    font-size: 100px;
    line-height: 120.9px;
    color:  #282A30;
    margin-bottom: 30px;
   
}

.section2_rightside_p2{
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 30.01px;
    color:   #282A30  50%; 
    margin-bottom: 30px;  
}

.readmore{
    padding: 20.50px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 22px;
    line-height: 26.82px;
    color: #FFFFFF;
    background-color: red;
}

.section2_leftside{
    margin-right: 100px;
}

.section2_rightside{
    margin-left: 100px;
    margin-top: 70px;
}

.section3_h2{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 40px;
    line-height: 48.76px;
}

.section3_p{
    font-family: Montserrat; 
    font-weight: 700;
    font-size: 100px;
    line-height: 120.9px;
    color:  #282A30;
    margin-bottom: 180px;
}

.section3_img{
    margin-left: 80px;
}

.section4_ul{
    display: flex;
    justify-content: space-between;
}

.section4_ul_li_a_img{
    width: 278px;
}

.section4{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.section5{
 margin-top: 100px;
 display: flex;
 justify-content: space-around;
 margin-bottom: 100px;
}

.section5_leftside_h2{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 100px;
    line-height: 121.9px;
 }

.section5_leftside_p{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 100px;
    line-height: 121.9px;
}

.signup10{
    background-color: #F7515C;
    padding: 20px 50px;
    color: #FFFFFF;
    font-size: 20px;
}

.section5_leftside{
    margin-top: 150px;
}

.footer_ul{
    display: flex;
    justify-content: space-evenly;
}

.footer_ul_li{
    margin-right: 60px;
    align-items: center;
    justify-content: space-between;
}


.footer{
    margin-top: 100px;
}

.footer_ul_li_p{
    color: 
    #282A30CC;
    margin-bottom: 15px;
}

.section4_h2{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 40px;
    line-height: 48.76px;
}

.section4_p{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 100px;
    line-height: 121.9px;
    margin-bottom: 30px;
}

.section3{
    margin-bottom: 400px;
}

.footer_ul_li_h2{
    margin-bottom:15px;
}

.section5_leftside_p{
    margin-bottom: 60px;
}

.section4_ul_li_a_h3{
    margin-left: 60px;
    margin-top: 0px;
}

.section4_ul_li_a_p{
    margin-left: 120px;
    color: #282A30CC;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 26.82px ;
}

.section4_ul_li_a_h31{
    margin-left: 83px;
}

.section4_ul_li_a_h32{
    margin-left: 98px;
}

.section2_rightside_p2{
    color:#282A30CC; ;
}

.strelkachap{
    width: 27px;
    height: 33px;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid black;
    margin-right: 30px;
  }

.strelkaong{
    width: 27px;
    height: 33px;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid black;
}


.section4_div2{
    display: flex;
    margin-top: 130px;
}

.section4_div3{
    display: flex;
    justify-content: space-between;
}